*
{
    padding: 0;
    margin: 0;
}
#container
{
    width: 100%;  
    min-height: 100vh; 
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header
{
    background-color: #ffce1c;
    width: 100%;
    border-bottom-right-radius: 50px;
   
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page_body
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%; 
    min-height: 700px; 
    background-color: rgb(211, 211, 211);
    margin: 0;
    margin-bottom: 10%;
    border-color: #ff7d03;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.form_body
{
    background-color: #ffffff;
    width: 580px;
    height: 100%;
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-style: solid;
    border-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    
}

.lego-button {
    background-color: #ffce1c;
    border: 4px solid #d89e00;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    
    cursor: pointer;
    transition: transform 0.1s;
}

.footer
{
    width: 95%;
    background-color: #fdc094;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    border-radius: 20px;
}

.lego_brick_body
{
    background-color: #ffce1c;
    border: 4px solid #d89e00;
    height: 300px;
    border-radius: 8px;
    padding: 10px 20px;
    
}

.lego_brick_top
{
    width: 100px;
    height: 30px;
    background-color: #ffce1c;
    border: 4px solid #d89e00;
    border-radius: 8px;
}

.store_products_display {
    width: 80%;
    height: 800px; /* Ensures the div has a minimum height */
    background-color: aqua;
    flex-grow: 1; /* Makes the div take up any available space */
}

.product_card {
    background-color: aqua;
    min-height: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.page_payment
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    background-color: #FCE883;
    margin: 0;
    margin-bottom: 10%;
    padding: 24px;
    gap: 24px;

    border-style: solid;
    border-width: 5px;
    border-color: #ff7d03; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.purchase_input
{
    width: 100%;
    height: 20px;
}